
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchBook</title>
</head>
<body>
   <h1>Search Book Page</h1>
</body>
</html>
